<div class="headerMain">
    <div class="row">
        <div class="col-md-2">
    <img src="assets/logo.svg" alt="" class="w-100">
        </div>
        <div class="col-md-2"></div>
        <div class="row col-md-5 col-sm-10 auto">
            <div class="auto navs">
            <h6  routerLink="/home">Dashboard</h6></div>
            <div class="auto navs"><h6 routerLink="/camera">Cameras</h6></div>
            <div class="auto navs"><h6 routerLink="/reporting">Reportings</h6></div>
            <div class="auto navs"><h6 routerLink="/setting">Settings</h6></div>
        </div>
            <div class="row col-md-3 auto">
                <div class="auto">
                <img src="assets/profile.jpg" alt="" class="rounded-circle w75" >
                </div>
                <div class="auto">
                <h6>Hi-{{user}}</h6>
            </div>
            <div class="auto navs"><h6  routerLink="/">Logout</h6></div>
            </div>
        

    </div>
</div>
